<mat-toolbar color="gris">
  <span class="icon-imdb"
    ><span class="path1"></span><span class="path2"></span
  ></span>
  <span class="md-spacer"></span>
  <div fxShow="true" fxHide.lt-md="true">
    <button mat-button routerLinkActive="active" routerLink="/home">
      Inicio
    </button>
    <mat-form-field appearance="fill" class="md-search">
      <input matInput type="text" [formControl]="inputSearch" />
      <mat-icon>search</mat-icon>
    </mat-form-field>
    <button mat-stroked-button (click)="onSearch()">Buscador</button>
  </div>
</mat-toolbar>
